@import "tailwindcss";

.error {
  color: red;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: #460df2;
  --color-background-light: #f6f5f8;
  --color-background-dark: #141022;

  /* Radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Dark mode */
.dark {
  --color-bg: #141022;
  --color-text: #f1f5f9;
}

@layer utilities {

  .bg-app {
    background-color: var(--color-bg);
  }

  .text-app {
    color: var(--color-text);
  }

}

@layer components {
  .form-label {
    @apply block text-xs font-black tracking-widest text-slate-500 dark:text-slate-400 ml-1;
  }

  .form-input {
    @apply block w-full rounded-2xl border border-slate-200 dark:border-slate-800 bg-slate-50 dark:bg-slate-950 py-4 pl-12 pr-4 text-slate-900 dark:text-white placeholder:text-slate-400 focus:ring-4 focus:ring-[#60c2a6]/20 focus:border-[#60c2a6] focus:outline-none transition-all;
  }

  .input-error {
    @apply border-red-400 focus-visible:ring-red-600;
  }
}

turbo-frame#decks[busy] {
  opacity: 0.6;
  filter: blur(1px);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

turbo-frame#decks:not([busy])>div {
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.turbo-stream-removing {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
